body {
    background-color: #514535;
    margin: 0;
    padding: 0; 
    font-family: goudy;
}
@font-face {
    font-family: "Goudy";
    src: url('fonts/GoudyBookletter1911-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "kaerukaeru";
    src: url('fonts/kaerukaeru-Regular.otf') format('opentype'); 
}
@font-face {
    font-family: "Ouvrieres";
    src: url('fonts/Ouvrieres-affamees.ttf') format('truetype'); 
}
.sidebar a.title {
    background-color: #583579;
    color: #C1031B;
    padding: 8px 40px;
    line-height: 24px;
    font-family: kaerukaeru;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    border-top: 5px dotted #fafad2;
    border-bottom: 5px dashed #E476C2;
    border-radius: 100%;
    display: inline-block;
    white-space: nowrap;
}
.summary {
    text-align: justify;
}
.sidebar {
    position: fixed;
    left: 10px;
    top: 0;
    width: 200px;
    min-height: 100vh;
    padding: 20px;
    border-right: 2px dashed #E476C2;
}
.sidebar hr {
    border: none;
    border-top: 2px dashed #E476C2;
}
.sidebar a[target="content-frame"] {
    display: block;
    margin: 10px 0;
    text-decoration: underline;
    color: #9fc1ff;
    text-decoration-color: #C1031B;
}
.sidebar a[target="content-frame"]:hover {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-style: italic;
    color: #E476C2
}
.sidebar a.title:hover {
    color: #C1031B;
    font-style: normal;
    text-decoration: none;
}
.content {
    margin-left: 250px;
    padding: 20px;
    border: none;
    width: calc(100% - 250px);
    height: 100vh;
} 
.home {
    background-color: #514535;
    min-height: 100vh;
    margin-left: 250px;
    padding: 20px;
    padding-top: 20px;
}
.home img{
    display: block;
    margin-left: 20px;
    max-width: 1000px;
    width: 100%;
    height: auto;
}
.home p{
    margin-top: 65px;
    margin-left: 20px;
}
.home iframe{
    display: none;
    height: 0;
    margin: 0;
}
iframe.content{
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    border: none;
}
.summary{
    color: #9fc1ff;
}
p{
    color: #9fc1ff;
}
h1{
    color:#E476C2;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #fafad2;
}
.description{
    color: #E476C2;
}
.date{
    color: #fafad2;
    font-size: 20px;
}
span{
    color: #E476C2;
}
a{
    color: #9fc1ff;
    text-decoration: underline;
    text-decoration-color: #C1031B;
}
a:hover {
    font-style: italic;
    color: #E476C2;
    text-decoration: none;
}
.flower{
    color: #fafad2;
}
.collection{
    color: #fafad2;
}
.entry{
    color: #fafad2;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 20px;
}
.diary-entry p:not(.entry){
    margin-top: 4px;
    margin-bottom: 4px;
}
.last-updated{
    position: absolute;
    bottom: 40px;
}